<div>
  <div>
    user_id: <%= @retry_info[:user_id] %>
  </div>
  <div>
    user_email: <%= @retry_info[:user_email] %>
  </div>
  <div>
    user_name: <%= @retry_info[:user_name] %>
  </div>
  <div>
    lti_user_id: <%= @retry_info[:lti_user_id] %>
  </div>
  <div>
    lms_user_id: <%= @retry_info[:lms_user_id] %>
  </div>
  <div>
    timestamp: <%= @retry_info[:timestamp] %>
  </div>

  <div>
    retry with: <%= @retry_info[:retry_with] %>
  </div>
</div>
